<div class="col-10 offset-1 about">

  <div class="col-10 offset-1">
    <h1>About Splurty</h1>



    <p>
      Splurty was built by Michael, who loves that our lives are impacted so positively by animals both pets and wild.  

    </p>
    <br />
    <p>
      Michael is a student of The Firehose Project and learning how to code.  
    </p>
    
    <p>
      If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.
    </p>

    <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'me.jpg', class: 'img-fluid' %>
      </div>

      <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Michael Stone</h2>
        <br />
        <p>
          Michael is learning to code through The Firehose Project. 
        </p>
      </div>
    </div>


  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />





