<h2>
  <span>SPLURTY / No. <%= @quote.id %></span>
  Here's the <u>best quotes and anecdotes</u> about sharing our world with animals!
</h2>




<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>


<br class="clear" />
<br />
<br />
<br />